# OpenAI Configuration
OPENAI_API_KEY=
# OPENAI_BASE_URL=http://localhost:11434/v1
# OpenAI - Modelo para Embeddings (vetorização de documentos e perguntas)
OPENAI_EMBEDDING_MODEL='text-embedding-3-small'
# OpenAI - Modelo LLM para Responder Perguntas
OPENAI_LLM_MODEL='gpt-5-nano'

# Google Configuration
GOOGLE_API_KEY=
# GOOGLE_BASE_URL=https://generativelanguage.googleapis.com
# Google - Modelo para Embeddings (vetorização de documentos e perguntas)
GOOGLE_EMBEDDING_MODEL='models/embedding-001'
# Google - Modelo LLM para Responder Perguntas
GOOGLE_LLM_MODEL='gemini-2.5-flash-lite'

# Database Configuration
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/rag
PG_VECTOR_COLLECTION_NAME=documents

# Document Configuration
PDF_PATH=document.pdf

# AI Provider Selection
AI_PROVIDER_PRIMARY=openai